body{
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


h1,h2,p,a{
    font-family: 'Alumni Sans Inline One', sans-serif;
    font-weight: normal;
  }


.btn{
    background-color: rgb(240, 240, 240);
    color: black;
    border: 2px solid gray;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

