
#container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#foto {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#foto img {
  max-width: 90%;
  max-height: 90%;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 0 0 10px gray;
}


p,a {
  font-family: 'Neuton', serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Alumni Sans Inline One', sans-serif;
  font-weight: normal;
}

#title{
  flex: 1;
  padding: 20px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#h1 {
  font-family: "Alumni Sans Inline One", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: black;
  text-align: center;
}

#p1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

#passwordcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputpassword {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff; 
  color: #000; 
  transition: border-color 0.3s; 
}

#inputpassword:focus {
  border-color: gold; 
}

#entrar {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
  border-radius: 5px;
}

#entrar:hover {
  background-color: gold;
  color: #fff;
  border-color: rgb(0, 0, 0); 
}



