@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

@keyframes blink {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

p,a {
  font-family: 'Neuton', serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Alumni Sans Inline One', sans-serif;
  font-weight: normal;
}
.container-titulo{
background-color: black;
padding: 0.5em 1em;
position: relative;
display: flex; 
flex-direction: row;

}

.titulo{
color: white;
margin: 0px;
flex-grow: 1;

}


h1.title-login{
background-color: blue;
  
}

h1.title-text{
  background-color: blue;
    
  }


#cards{
height: 100;
background-color: rgb(167, 170, 171);
width: 100;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
padding: 20px;
}

